.chat .content .subContent .contact {
	display: flex;
	align-items: center;
}

.chat .content .subContent .contact img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 15px;
}
.chat .content .subContent .contact div {
	display: flex;
	flex-direction: column;
}

.chat .content .subContent .contact .right {
	margin-left: auto;
	align-items: center;
}

.chat .content .subContent .contact div * {
	margin: 5px 0;
}
.chat .content .subContent .contact div .name {
	font-weight: bold;
}
.chat .content .subContent .contact div .lastchat {
	color: var(--subtext);
}
.chat .content .subContent .contact div .time {
	color: var(--active);
}
.chat .content .subContent .contact div .count {
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 28px;
	background: var(--active);
	color: var(--mainbg);
	border-radius: 50%;
	margin: 1px 0;
}

.chat .content .subContent  .contact .read .time {
	color: var(--subtext);
}
.chat .content .subContent .contact .read .count {
	background: transparent;
	color: transparent;
}
